
*{
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

$font-family: 'Roboto', sans-serif;
$font-family2: 'Open Sans', sans-serif;

body{
    font-family: $font-family;
}

.button {
    font-size: 8px;
    color:#8fc74a;
    padding: 8px 20px;
    background-color: #fff;
    border-radius: 30px;
    cursor: pointer;
    border: 1px solid #8fc74a;
}

/* navigation */

.navigation {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    align-items: center;

    .number{
        text-decoration: none;
        color: #8fc74a;
        font-size: 16px;
    }
    .logo {
        width: 100px;
    }
}

/*section */

.house-lists{
    .house {
        text-align: center;
        position: relative;
        .discription {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            .title {
                font-size: 36px;
                color: #fff;
                font-family: $font-family;
                margin-top: 80px;
            }

            .join {
                background: transparent;
                border: 2px solid #fff;
                color: #fff;
                font-size: 24px;
                margin-top: 20px;
                font-weight: bold;
            }

            .join:hover{
                border: 2px solid green;
            }
        }

        .house-logo {
            width: 460px;
        }
    }
}

//line

.six {
    font-size: 32px;
    font-family: $font-family2;
    text-align: center;
    padding-top: 65px;
}

.line {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}

//houses 

.houses-image {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    gap: 30px;
    margin-top: 30px;
    align-items: end;
    
    .names-houses {
        font-size: 30px;
        font-family: $font-family2;
        margin-top: 20px;
    }

    .image-efekt {
        transition: 0.5s;
    }

    .image-efekt:hover {
        transform: scale(1.3)
    }
}

//about 

.about {
    background-image: url('img/Layer\ 131\ copy\ 7\ \(1\).png');
    background-repeat: no-repeat;
    background-position: bottom;
    margin-top: 60px;
    padding: 50px;
    background-size: cover;

    .about-contect {
        border: 5px solid #fff;
        padding: 100px 50px;
        text-align: center;

        .title-about {
            color: #fff;
            font-size: 28px;
            font-family: $font-family2;
            text-align: center;
            margin-bottom: 20px;
        }
        .content-about {
            color: #fff;
            font-family: $font-family2;
            line-height: 25px;
        }

        .abot {

            background: transparent;
            border: 2px solid #fff;
            color: #fff;
            font-size: 16px;
            margin-top: 20px;
            font-weight: bold;
            font-family: $font-family2;
        }
    }
    

}

//news

.news {
    background-color: #e9edf0;

    .title-news {
        background-color: #fff;
        padding: 20px;
        font-size: 30px;
        color: #6e7b82;
        font-family: $font-family2;
        line-height: 40px;
        position: relative;
    }

    .title-news::before {
        content: '';
        width: 0;
        height: 0;
        border-left: 30px solid transparent;
        border-right: 30px solid transparent;
        border-bottom: 30px solid #fff;
        position: absolute;
        top: -29px;
        left: 30px;
    }


    .six {
        text-align: center;
        padding-top: 65px;
    }

    .calendar-wrraper {
        padding: 60px;
    }

    .calendarz {
        margin-bottom: 30px;
    }

    .news-image {
        width: 100%;
    }

    .image-calendar {
        position: relative;

        .news-image {
            height: 250px;
             object-fit: cover;
             vertical-align: middle;
        }

        .data {
            position: absolute;
            top: 20px;
            left: 20px;
            background-color: #fff;
            padding: 15px;
            text-align: center;

            .data-number {
                color: #9ba7b4;
                font-size: 40px;
            }
            .data-msc {
                color: #9ba7b4;
            }
        }
    }

}

//gallery


.video {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 50px;
    gap: 20px;

    .data-video {
        height: 450px;
        position: relative;

        .play {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: 0.5s;
        }

        .play:hover{
            transform: translate(-50%, -50%) scale(1.2);
        }

        .video-content {
            position: absolute;
            top: 20px;
            left: 20px;
            color: #fff;
            display: flex;
            align-items: center;
            font-family: $font-family2;
            font-size: 18px;

            .video-msc {
                font-size: 40px;
                font-weight: bold;
                margin-right: 10px;
            }
        }
    }

    .video-image {
        height: 450px;
    }

    .video1 {
        height: 50%;
        position: relative;

        .video-data {
            position: absolute;
            top: 20px;
            left: 20px;
            color: #fff;
            font-size: 18px;
            font-family: $font-family2;
            display: flex;
            align-items: center;

            .video-msc {
                font-size: 40px;
                font-weight: bold;
                margin-right: 10px;
            }
        }
    }

    .video-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .video-pgn {
        width: 100%;
        height: 100%;
        object-fit: cover;

        &.img-top {
            padding-bottom: 10px;
        }


        &.img-bottom {
            padding-top: 10px;
        }
    }
}

//footer 

.footer {
    background-color: #e9edf0;
    padding-top: 50px;
}

.footer-wrapper {
    display: flex;
    justify-content: space-around;

    .footer-content {
        color: #868e91;
        font-size: 23px;
        font-family: $font-family2;
        margin-right: 25px;
    }

    .social-icons {
        display: flex;

        .links {
            text-decoration: none;
            color: #c6cccf;
            margin-right: 50px;
            font-size: 30px;
            border: 1px solid #c6cccf;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .links:hover{
            font-size: 35px;
            transition: 0.7s;
            transform: scale(1.5);
        }
    }
}

.authors {
    margin-top: 30px;
    text-align: center;
    color: #c6cccf;
    font-family: $font-family2;
    padding-bottom: 30px;
    font-weight: bold;
}

//
.rodzic {
    position: relative;
    width: 300px;
    height: 300px;
    background-color: black;
}

.dziecko {
    position: relative;
    background-color: red;
    width: 150px;
    height: 150px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wnuk {
    position: relative;
    background-color: salmon;
    width: 50px;
    height: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (min-width: 900px){
    .about {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
    }
    .calendar-wrraper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
}

